.cover {
  position: relative;
  content: "";
  min-height: 100vh;
  display: flex;
  color: var(--text-color);
  background: linear-gradient(-75deg, #0c03bff2, #ed1656f8);

  > div {
    width: 100%;

    @media (min-width: 641px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 6rem;
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
