.tag {
  padding: 0.25rem 0.75rem;
  font-family: var(--tertiary-font);
  color: var(--accent-text-color);
  background: rgba(200, 215, 254, 0.126);
  border-radius: 0.75rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(226, 226, 229, 0.272);
}
