:root {
  font-family: var(--primary-font), system-ui, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 0.25px;

  color-scheme: light dark;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  --primary-bg-color: #cde2f4;
  --secondary-bg-color: #c3d9ff1d;
  --accent-bg-color: #c7e3ffa6;
  --accent-text-color: #e8ecf2;
  --text-color: #e3e3e3db;

  --primary-font: "Circular Book";
  --secondary-font: "Circular Black";
  --tertiary-font: "Circular Medium";
}
